@using EmployeeCommon;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet/DesignPage.css" />
</head>
<body class="BackgroundImage">

    <div style="display:flex">
        @*<div>
            <img src="~/Images/Screenshot (57).png" class="aspireimage" />  
        </div>*@
        <div class="heading" style="color:blueviolet">
            <header><h1><i><b>Aspire Systems</b></i></h1></header>
        </div>

        <div class="firsttabs">
            @Html.ActionLink("Home", "Index", "EmployeeDetails")
            @if (HttpContext.Current.User.Identity.IsAuthenticated)

            {
                @Html.ActionLink("Logout", "LogOff", "Login")

            }
            else
            {
                @Html.ActionLink("Login", "Login", "Login")
            }

            @*Links viewed by Admin*@
            @if (HttpContext.Current.User.IsInRole(Common.Roles.Admin.ToString()))
            {
                @Html.ActionLink("My Profile", "ViewProfile", "EmployeeDetails")<bnsp></bnsp>
                @Html.ActionLink("Employee Details", "DisplayEmployeeDetails", "EmployeeDetails")<bnsp></bnsp>
                @Html.ActionLink("Account Details", "DisplayAccountDetails", "EmployeeDetails")<bnsp></bnsp>
                @Html.ActionLink("Department Details", "DisplayDepartments", "Department")<bnsp></bnsp>
                @Html.ActionLink("Designation Details", "DisplayDesignations", "Designation")<bnsp></bnsp>
                @Html.ActionLink("My Review", "Index", "User")
            }

            @*Links viewed by User*@
            @if (HttpContext.Current.User.IsInRole(Common.Roles.User.ToString()))
            {
            @Html.ActionLink("My Profile", "ViewProfile", "EmployeeDetails")<bnsp></bnsp>
                @Html.ActionLink("My Review", "Index", "User")
                
            }

            @*Links Viewed By Scheduler*@
            @if (HttpContext.Current.User.IsInRole(Common.Roles.Scheduler.ToString()))
            {
                @Html.ActionLink("My Profile", "ViewProfile", "EmployeeDetails")<bnsp></bnsp>
                @Html.ActionLink("View Review Details", "DisplayReviewDetails", "ReviewSchedule")<bnsp></bnsp>
                @Html.ActionLink("Schedule Review", "ScheduleReview", "ReviewSchedule")<bnsp></bnsp>
                @Html.ActionLink("My Review", "Index", "User")
            }
        </div>
    </div>

    @RenderBody()
</body>
</html>
