@model Employee_Project_Review_Scheduler.Models.EmployeeViewModel

@Html.Partial("PartialView");
@using (Html.BeginForm("AddEmployee", "ReviewScheduler", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table cellpadding="8">
        <tr>
            <td>
                @Html.LabelFor(model => model.Firstname)

            </td>
            <td>
                @Html.EditorFor(model => model.Firstname)
                @Html.ValidationMessageFor(model => model.Firstname)

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Lastname)

            </td>
            <td>
                @Html.EditorFor(model => model.Lastname)
                @Html.ValidationMessageFor(model => model.Lastname)

            </td>
        
        <tr>
            <td>
                @Html.LabelFor(model => model.EmailId)

            </td>
            <td>
                @Html.EditorFor(model => model.EmailId)
                @Html.ValidationMessageFor(model => model.EmailId)

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Gender)
            </td>
            <td>
                Male
                @Html.RadioButtonFor(model => model.Gender, "Male")
                Female
                @Html.RadioButtonFor(model => model.Gender, "Female")
                 &nbsp; &nbsp; &nbsp;
                @Html.ValidationMessageFor(model => model.Gender)
            </td>
        
              
            
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Mobilenumber)

            </td>
            <td>
                @Html.EditorFor(model => model.Mobilenumber)
                @Html.ValidationMessageFor(model => model.Mobilenumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DOB)
            </td>
            <td>
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DOJ)

            </td>
            <td>
                @Html.EditorFor(model => model.DOJ)
                @Html.ValidationMessageFor(model => model.DOJ)
            </td>
        <tr>
            <td>
                @Html.LabelFor(model => model.Username)

            </td>
            <td>
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </td>
        <tr>
            <td>
                @Html.LabelFor(model => model.Password)

            </td>
            <td>
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ConformPassword)

            </td>
            <td>
                @Html.PasswordFor(model => model.ConformPassword)
                @Html.ValidationMessageFor(model => model.ConformPassword)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Designation)

            </td>
            <td>
                @Html.EnumDropDownListFor(model => model.Designation, "Select Designation")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="Submit" />

            </td>
        </tr>

    </table>
}



