@model IEnumerable<Employee_Project_Review_Scheduler.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_EmployeeMasterPage.cshtml";
}

<h2>Display</h2>

<table border="1">
    <tr>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Id</th>
        <th>EmailId</th>
        <th>Gender</th>
        <th>Mobile number</th>
        <th>DOB</th>
        <th>DOJ</th>
        <th>Username</th>
        <th>Password</th>
        <th>Designation</th>
    </tr>
    @foreach (var employee in (List<EmployeeEntity.Employee>)TempData["Employees"])
            {
        <tr >
            <td >@employee.Firstname</td>
            <td >@employee.Lastname</td>
            <td >@employee.Id</td>
            <td>@employee.EmailId</td>
            <td >@employee.Gender</td>
            <td >@employee.Mobilenumber</td>
            <td>@employee.DOB</td>
            <td>@employee.DOJ</td>
            <td>@employee.Username</td>
            <td>@employee.Password</td>
            <td>@employee.Designation</td>
           <td>@Html.ActionLink("Cancel", "Start");</td>
           <td>@Html.ActionLink("Add", "AddEmployee");</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = employee.Id });</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = employee.Id });   </td>
        </tr>
    }

</table>

