
@{
    ViewBag.Title = "Display";
}
<h2>Employee Details</h2>
<table border="1">
    <tr>    
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Id</th>
        <th>EmailId</th>
        <th>Mobile number</th>
        <th>DOB</th>
        <th>DOJ</th>
        <th>Username</th>
        <th>Password</th>
        <th>Designation</th>
    </tr>
    @foreach (EmployeeEntity.Employee item in (List<EmployeeEntity.Employee>)ViewData["Employees"])
    {
        <tr>
            <td>
                @item.Firstname
            </td>

            <td>
                @item.Lastname
            </td>
            <td>
                @item.Id
            </td>
            <td>
                @item.EmailId
            </td>
            <td>
                @item.Mobilenumber
            </td>
            <td>
                @item.DOB
            </td>
            <td>
                @item.DOJ
            </td>
            <td>
                @item.Username
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Designation
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("Add", "AddEmployee")
            </td>
        </tr>
    }
</table>