@model Employee_Project_Review_Scheduler.Models.EmployeeViewModel


<h2>Edit Employee</h2>
@using (Html.BeginForm("Update", "ReviewScheduler", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.Id)
    <table cellpadding="8">
        <tr>
            <td>
                Employee Firstname
            </td>
            <td>
                @Html.EditorFor(Model => Model.Firstname)
            </td>
        </tr>
        <tr>
            <td>
                Employee Firstname
            </td>
            <td>
                @Html.EditorFor(Model => Model.Lastname)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("EmailId")

            </td>
            <td>
                @Html.EditorFor(Model => Model.EmailId)


            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Gender")
            </td>
            <td>
                Male
                @Html.RadioButtonFor(model => model.Gender, "Male")
                Female
                @Html.RadioButtonFor(model => model.Gender, "Female")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("MobileNumber")

            </td>
            <td>
                @Html.EditorFor(Model => Model.Mobilenumber)

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("DOB")
            </td>
            <td>
                @Html.EditorFor(Model => Model.DOB)

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("DOJ")

            </td>
            <td>
                @Html.EditorFor(Model => Model.DOJ)

            </td>
        <tr>
            <td>
                @Html.Label("Username")

            </td>
            <td>
                @Html.EditorFor(Model => Model.Username)
            </td>
        <tr>
            <td>
                @Html.Label("Password")

            </td>
            <td>
                @Html.PasswordFor(Model => Model.Password)

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("ConformPassword")

            </td>
            <td>
                @Html.PasswordFor(Model => Model.ConformPassword)

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Designation")

            </td>
            <td>
                @Html.EnumDropDownListFor(model => model.Designation, "Select Designation")
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Cancel", "Display")
            </td>
            <td>
                <input type="submit" id="Submit" />
            </td>
        </tr>
    </table>
}



