@model Employee_Project_Review_Scheduler.Models.Employee


<h2>Login Page</h2>
@Html.Partial("PartialView");

@using (Html.BeginForm("Login", "ReviewScheduler", FormMethod.Post))
{
    <table cellpadding="8">
        <tr>
            <td>
                @Html.Label("Username")
            </td>
            <td>
                @Html.TextBox("Username")
                @Html.ValidationMessageFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.Password("Password")
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="Submit" />

            </td>
        </tr>
    </table>
}




