@model Employee_Project_Review_Scheduler.Models.ReviewDetailsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeMasterPage.cshtml";
}

<h2>Index</h2>

<table border="0" align="center" cellpadding="6" style="padding-top:30px;">

    <tr>
        <td style="color:brown;font-size:20px;">Id</td>
        <td style="color:brown;font-size:20px;">Reviewer Name</td>
        <td style="color:brown;font-size:20px;">Reviewer Designation</td>
        <td style="color:brown;font-size:20px;">Reviewer Department</td>
        <td style="color:brown;font-size:20px;">Date</td>
    </tr>
    @foreach (EmployeeEntity.Review_Details employee in (IEnumerable<EmployeeEntity.Review_Details>)TempData["Ih"])
    {
        <tr>
            <td style="font-size:20px;">@employee.Id</td>
            <td style="font-size:20px;">@employee.Reviewername </td>
            <td style="font-size:20px;">@employee.ReviewerDesignationId</td>
            <td style="font-size:20px;">@employee.ReviewerDepartmentId</td>
            <td style="font-size:20px;">@employee.Date</td>
        </tr>
    }
</table>